.create-custom-track {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-custom-description {
  width: 90%;
  padding-bottom: .5rem;
}

.custom-track-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}