.navbar-container {
  display: flex;
  position: sticky;
  height: 6vh;
  padding-top: 1.5rem;
  padding-right: 7rem;
  padding-left: 7rem;
  margin-bottom: 1rem;
  align-items: center;
  column-gap: 1rem;
  justify-content: space-between;
}

.navbar-container a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  margin-left: 2rem;
  font-weight: 400;
  cursor: pointer;
}

.navbar-logo {
  height: 85px;
  width: 90px;
  background-image: url('../assets/logo.png');
  background-size: cover;
}

.navbar-container a:hover {
  border-bottom: 1.5px solid rgba(0, 204, 187, .9);
  color: rgba(0, 204, 187, .9);
  padding-bottom: 1px;
}