.allTracks__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.track-pose-container {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #fff;
  border: solid #fff;
  border-radius: 20px;
  width: 100vh;
  height: auto;
  box-shadow: 0 0 0.6rem black;
}



.pose-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width:30rem;
  /* background-color: orangered; */
}

.pose-content-container button {
  align-self: center;
}

.routine-name {
  font-size: 2rem;
  margin-bottom: 4%;
  padding-top: 5%;
  font-family: 'Handlee', cursive;
  font-weight: 900;
}

.routine-description {
  font-size: 1.1rem;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 6%;
  /* font-family: 'Handlee', cursive; */
}

.levels__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* margin-left: 2rem; */
  margin-right: 2rem;
  padding: 2rem;
}

.levels__btn {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
}

.level__inputs {
  height: 1rem;
}

.levels__btn:hover {
  opacity: 0.7;
}
.easy {
  background-color: palegreen;
}

.medium {
  background-color: yellow;
}

.hard {
  background-color: tomato;
}

/* .progress-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
} */

.btn-progress-practice {
  background-color: #00CCBB;
  color: white;
  height: 2rem;
  width: 7rem;
  border-radius: 0.5rem;
  border: 0;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 7%;
  cursor: pointer;
  /* box-shadow: 0 0 5px black; */
  transition-duration: 0.4s;
  font-family: 'Handlee', cursive;
  text-shadow: 0 0 1px white;
  align-self:flex-end;
  /* top: 50%; */
  /* align-items: center; */
  /* margin-top: 4%; */
}

.btn-progress-practice:hover {
  box-shadow: 0 0 10px black;
  background-color: #42cc82;
}