.tracks-container {
  display: flex;
  height: 85%;
  width: 30%;
  min-width: 250px;
  align-items: center;
  flex-direction: column;
  margin-top: .5rem;
  border-radius: .5rem;
  box-shadow: 0 0 10px gray;
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  background-color: rgba( 245, 245, 245, 0.85 );
}

.tracks-container:hover {
  box-shadow: 0 0 30px black;
  transform: scale(1.1);
  transition: .2s;
}

.tracks-container h2 {
  font-family: 'Handlee', cursive;
  font-size: 1.25em;
}

.tracks-container p {
  font-family: 'Roboto Slab', serif;
  white-space: pre-line;
  margin: 0;
}

.progressbar-container {
  height: 40%;
  width: 60%;
}