.usercard__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  height: 20rem;
  background-image: url('../assets/user-background.jpg');
  column-gap: 7rem;
  margin-bottom: 5rem;
}

.usercard__image {
  height: 15rem;
  width: 15rem;
  border-radius: 8rem;
}

.usercard__main__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center ;
  height: 100%;
}

.usercard__data__container {
  display: flex;
  flex-direction: row;
  width: 18rem;
}

.usercard__textinfo--titles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.usercard__textinfo--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;
}

h2 {
  font-family: 'Handlee', cursive;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 0;
}

.usercard__buttons__container {
  display: flex;
  align-items: flex-end;
  height: 100%;
  margin-right: 1rem;
}
