.custom-routine-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.custom-routine-header {
  width: 100%;
  color: white;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(0, 204, 187, 0.6);
}

.custom-routine-header h2 {
  font-size: 2rem;
  margin-bottom: .5rem;
  text-shadow: 0 0 3px black;
}

.custom-routine-cards {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  column-gap: 1rem;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;;
}