.webcam__container {
  position: absolute; 
  width: 100%;
}

.webcam__screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  align-self: center;
  justify-self: center;
}

.webcam__screen_canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

