.webcam__container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.webcam__screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-self: center;
  justify-self: center;
  z-index: 0;
}

.webcam__screen_canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}