.footer-container {
  height: 190px;
  background-color: rgba(0, 204, 187, .6);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.additional-info-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
}

.additional-info {
 margin-right: 2rem;
 font-size: 1.2rem;
 height: 2rem;
 font-weight: 600;
 cursor: pointer
}

.additional-info:hover {
  border-bottom: 2px solid white;
  padding-bottom: 2px;
  height: auto;
}

.social-network-container {
  display: flex;
  flex-direction: row;
}

.footer-left-container {
  text-align: center;
  margin-left: 8rem;
  margin-top: 2rem;
}
.footer-logo {
  height: 120px;
  width: 130px;
  background-image: url('../assets/logo.png');
  background-size: cover;
}

.footer-title {
  font-size: 1.1rem;
  font-weight: 500;
}

.footer-right-container {
  text-align: center;
  margin-right: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.social-network {
  font-size: 2.5rem;
  font-weight: bold;
  margin-right: 2rem;
}

.github {
  cursor: pointer
}

@media screen and (max-width:550px) {
  .footer-container {
    height: auto;
    width: auto;
    background-color: rgba(0, 204, 187, .6);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
  }

  .footer-logo {
    font-size: 1rem;
    margin-left: 1rem;
  }

  .footer-title {
    font-size: 1rem;
    margin-left: 1rem;
  }

  .additional-info {
    font-size: 1rem;
  }

  .social-network {
    font-size: 1rem;
  }
}