.main__instructions__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 22rem;
  background-color: #f1f2f63a;
  margin-top: 1.5em;
}

.instructions__container--hard {
  display: flex;
  margin-left: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: .8rem;
  height: 6rem;
  width: 18rem;
  border-radius: 1rem;
  border: solid #fff;
  background-color: #e74c3c
}

.instructions__container--intermediate {
  display: flex;
  margin-left: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: .8rem;
  height: 6rem;
  width: 18.3rem;
  border-radius: 1rem;
  background-color: #f1c40f;
}

.instructions__container--beginner {
  display: flex;
  margin-left: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: .8rem;
  height: 6rem;
  width: 18rem;
  border-radius: 1rem;
  border: solid #2ecc71;
  background-color: #2ecc71;
}



.hard__instructions-text {
  color: #fff;
  font-weight: 800;
  text-align:start;
  font-size: .8rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.intermediate__instructions-text {
  color: #fff;
  font-weight: 800;
  text-align:start;
  font-size: .8rem;
  margin-left: 1rem;
}

.beginner__instructions-text {
  color: #fff;
  font-weight: 800;
  text-align:start;
  font-size: .8rem;
  margin-left: 1rem;
}

.arrow {
  margin-top: 1rem;
  width: 6rem;
}